.jam-upload-it .list-group-item {
    display: grid;
    grid-template-columns: 2em auto;
    grid-gap: 10px;
}

.jam-upload-it .list-group-item.no-columns {
    grid-template-columns: auto;
}

.jam-upload-it .list-group-item span.name {
    display:block;

}

.jam-upload-it .glyphicon-ok,
.jam-upload-it .glyphicon-remove{
    font-size: 1.4em;
    animation: none;
}

.jam-upload-it .loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display:inline-block;
    vertical-align: middle;
}

.jam-upload-it .btn-file {
    position: relative;
    overflow: hidden;
}
.jam-upload-it .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
